{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Control</title>
    <link rel="stylesheet" href="{% static '/css/style.css' %}" type="text/css" >
</head>
<body>
    <div class="center">
        {% if form.errors %}
            {% for error, messages in form.errors.items %}
                {% for message in messages %}
                    {# Abrir mais um for para impedir que messagens saiam em ul #}
                    <h4>{{ message }}</h4>
                {% endfor %}
            {% endfor %}
        {% endif %}
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>