{% extends 'base.html'  %}
{% block content %}
<h1>Login</h1>
<form action="{% url 'index' %}" method="post">
    {% csrf_token %}
    <div class="txt_field">
        {{ form.username }}
        <span></span>
        <label>Email</label>
    </div>

    <div class="txt_field">
        {{ form.password }}
        <span></span>
        <label>Senha</label>
    </div>

    <div class="pass">Esqueceu Senha?</div>
    <input type="submit" value="Login">

    <div class="signup_link">
        Não é cadastrado? <a href="{% url 'cadastro' %}">Cadastre-se</a>
    </div>

</form>
{% endblock %}