{% extends 'base.html'  %}
{% block content %}
<h1>{{ title }}</h1>
{% if validlink %}
<h5>Por favor, informe sua nova senha duas vezes para que possamos verificar se você a digitou corretamente.</h5>
<form method="post" autocomplete="off">
    {% csrf_token %}

    <div class="txt_field">
        {{ form.new_password1 }}
        <span></span>
        <label>Nova senha:</label>
    </div>

    <div class="txt_field">
        {{ form.new_password2 }}
        <span></span>
        <label>Confirme a senha</label>
    </div>

    <input type="submit" value="Alterar minha senha">

</form>
<br>
{% else %}
<h5>O link para a recuperação de senha era inválido, possivelmente porque já foi utilizado. Por favor, solicite uma nova recuperação de senha.</h5>
<div class="signup_link">
  Página <a href="{% url 'login' %}">Inicial</a>
</div>{% endif %}
{% endblock %}