{% extends 'base.html'  %}
{% block content %}
<h1>Digite a nova senha</h1>
<h4>Por favor, informe sua nova senha duas vezes para que possamos verificar se você a digitou corretamente.</h4>
<form method="post" autocomplete="off">
    {% csrf_token %}

    <div class="txt_field">
        {{ form.new_password1 }}
        <span></span>
        <label>Nova senha:</label>
    </div>

    <div class="txt_field">
        {{ form.new_password2 }}
        <span></span>
        <label>Confirme a senha</label>
    </div>

    <input type="submit" value="Alterar minha senha">

</form>
<br>
{% endblock %}