<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Cadastre-se</title>
</head>
<body>
	<form method="post" enctype="multipart/form-data" autocomplete="off">
		{% csrf_token %}

        <div>
            <label for="{{ form.username.id_for_label }}">E-mail</label>
            {{ form.username }}
        </div>

        <div>
            <label for="{{ form.first_name.id_for_label }}">Primeiro nome</label>
            {{ form.first_name }}
        </div>

        <div>
            <label for="{{ form.last_name.id_for_label }}">Sobrenome</label>
            {{ form.last_name }}
        </div>

        <div>
            <label for="{{ form.password1.id_for_label }}">Senha</label>
            {{ form.password1 }}
            <label for="{{ form.password2.id_for_label }}">Repetir senha</label>
            {{ form.password2 }}
            {{ form.password1.errors }}
        </div>

        <div>
            <label for="{{ form.imagem.id_for_label }}">Foto de perfil</label>
            {{ form.imagem }}
        </div>

        {% if form.errors %}
            {% for error, message in form.errors.items %}
                <h1>{{ message }}</h1>
            {% endfor %}
        {% endif %}
        <input type="submit" name="subscribe"  value="Cadastrar"/>
	</form>
    <a 	href="{% url 'login' %}">
		<button type="submit" class="btn btn-primary">Logar</button>
	</a>
</body>
</html>
